* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    font-size: 14px;
    /*  */
}


/* 头部样式 */

.header {
    height: 56px;
    line-height: 56px;
    background-color: #3b3a3f;
    text-align: center;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}


/* 主体部分样式 */

.main {
    background-color: #F5F5F5;
    height: calc(100% - 108px);
    /* * css3  */
    max-height: calc(100% - 108px);
    overflow-y: scroll;
    padding: 20px;
    box-sizing: border-box;
}

.chat-container {
    margin-bottom: 20px;
}

.chat-container>* {
    float: left;
}

.chat-container.avatar-container>* {
    float: right;
}

.chat-container.avatar-container>.chat-txt {
    margin-right: 10px;
    background-color: #98e855;
    position: relative;
}

.chat-txt {
    max-width: 251px;
    padding: 8px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    color: #333;
    border-radius: 6px;
    margin-left: 10px;
}

.chat-container.avatar-container>.chat-txt:after {
    content: "";
    position: absolute;
    width: 0;
    padding: 0;
    border: 6px solid transparent;
    border-left-color: #98e855;
    top: 50%;
    transform: translateY(-50%);
    right: -12px;
}

.chat-container:after {
    content: "";
    display: block;
    clear: both;
}

.chat-container img {
    width: 40px;
    border-radius: 50%;
}


/* 页脚样式 */

.footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 52px;
    line-height: 52px;
    background-color: #ebebeb;
    box-sizing: border-box;
    box-shadow: 0 -2px 5px #d8d8d8;
    text-align: center;
}

.input {
    width: 270px;
    height: 36px;
    margin: 0;
    padding: 5px 10px;
    border: 1px solid #d8d8d8;
    color: #333;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 18px;
    outline: none;
}

.send-btn {
    width: 54px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #fff;
    background-color: #02cb0b;
    display: inline-block;
}